{
  "Name": "daisy-e2e-tests-weekly",
  "TestParallelCount": 30,
  "Tests": {
    "vmdk export with given size 2048GB test": {
      "Path": "./image_export_vmdk_given_size_2048gb.wf.json"
    },
    "vmdk export with given size 4096GB test": {
      "Path": "./image_export_vmdk_given_size_4096gb.wf.json"
    }
  }
}
