{
  "Name": "daisy-e2e-tests",
  "TestParallelCount": 30,
  "Tests": {
    "2003-32bit image translate": {
      "Path": "./2003_32_translate.wf.json"
    },
    "Windows Translate: 7 64-bit BYOL": {
      "Path": "./windows_7_x64_byol.wf.json"
    },
    "Windows Translate: 7 32-bit BYOL": {
      "Path": "./windows_7_x86_byol.wf.json"
    },
    "Windows Translate: 8.1 64-bit BYOL": {
      "Path": "./windows_8_x64_byol.wf.json"
    },
    "Windows Translate: 8.1 32-bit BYOL": {
      "Path": "./windows_8_x86_byol.wf.json"
    },
    "Windows Translate: 10 64-bit BYOL": {
      "Path": "./windows_10_x64_byol.wf.json"
    },
    "Windows Translate: 10 32-bit BYOL": {
      "Path": "./windows_10_x86_byol.wf.json"
    },
    "2008R2 vmware image translate": {
      "Path": "./2008r2_vmware_translate.wf.json"
    },
    "2012R2 vmware image translate": {
      "Path": "./2012r2_vmware_translate.wf.json"
    },
    "2016 image translate": {
      "Path": "./2016_translate.wf.json"
    },
    "Windows Server 2019 translate": {
      "Path": "./2019_translate.wf.json"
    },
    "centos7 qcow2 translate": {
      "Path": "./centos_7_qcow2_translate.wf.json"
    },
    "centos8 translate": {
      "Path": "./centos_8_translate.wf.json"
    },
    "debian8 translate": {
      "Path": "./debian_8_translate.wf.json"
    },
    "debian9 translate": {
      "Path": "./debian_9_translate.wf.json"
    },
    "Enterprise Linux - Don't use proxy": {
      "Path": "./el_import_dont_use_proxy.wf.json"
    },
    "Image export latest": {
      "Path": "./image_export_latest.wf.json"
    },
    "Image export latest": {
      "Path": "./image_export_latest_with_pd_standard.wf.json"
    },
    "Image export latest subnetwork": {
      "Path": "./image_export_subnetwork_latest.wf.json"
    },
    "Image export latest nondefault network": {
      "Path": "./image_export_nondefault_network_latest.wf.json"
    },
    "Image export release": {
      "Path": "./image_export_release.wf.json"
    },
    "Image export vmdk latest": {
      "Path": "./image_export_vmdk_latest.wf.json"
    },
    "Image export vmdk latest": {
      "Path": "./image_export_vmdk_latest_with_pd_standard.wf.json"
    },
    "Image export vmdk release": {
      "Path": "./image_export_vmdk_release.wf.json"
    },
    "Ubuntu 1404 translate": {
      "Path": "./ubuntu_1404_img_translate.wf.json"
    },
    "Ubuntu 1604 import and translate": {
      "Path": "./ubuntu_1604_import_and_translate.wf.json"
    },
    "Ubuntu 1604 vmware translate": {
      "Path": "./ubuntu_1604_vmware_translate.wf.json"
    },
    "Ubuntu 1804 - import from vmware": {
      "Path": "./ubuntu_1804_vmware.wf.json"
    },
    "Ubuntu 1804 - import from aws": {
      "Path": "./ubuntu_1804_aws.wf.json"
    },
    "Ubuntu 1804 - import from azure": {
      "Path": "./ubuntu_1804_azure.wf.json"
    },
    "vmdk import test latest": {
      "Path": "./vmdk_import_latest.wf.json"
    },
    "vmdk import test release": {
      "Path": "./vmdk_import_release.wf.json"
    },
    "Image import and translate custom network latest": {
      "Path": "./image_import_and_translate_custom_network_latest.wf.json"
    },
    "Image import and translate non-default network latest": {
     "Path": "./image_import_and_translate_nondefault_network_latest.wf.json"
    },
    "Image import and translate ova": {
      "Path": "./image_import_and_translate_ova.wf.json"
    },
    "Image import and translate ova with spaces in VMDK filename.": {
      "Path": "./image_import_and_translate_ova_with_spaces_in_vmdk_filename.wf.json"
    },
    "Image import and translate no extension": {
      "Path": "./image_import_and_translate_no_extension.wf.json"
    },
    "Image import allow spaces in disk's filename.": {
     "Path": "./image_import_allow_spaces_in_disk_filename.wf.json"
    }
  }
}
