{
  "Name": "daisy-e2e-tests-daily",
  "TestParallelCount": 30,
  "Tests": {
    "vmdk export with given size 10GB test": {
      "Path": "./image_export_vmdk_given_size_10gb.wf.json"
    },
    "vmdk export with given size 210GB test": {
      "Path": "./image_export_vmdk_given_size_210gb.wf.json"
    },
    "vmdk export with given size 1024GB test": {
      "Path": "./image_export_vmdk_given_size_1024gb.wf.json"
    }
  }
}
