{
  "Name": "v2v-adapt-e2e-tests",
  "TestParallelCount": 10,
  "Tests": {
    "2008R2 vmware image translate": {
      "Path": "./2008r2_vmware_translate.wf.json",
      "Vars": {"translate_workflow": "./v2v_adapt_windows.wf.json"}
    },
    "2012R2 vmware image translate": {
      "Path": "./2012r2_vmware_translate.wf.json",
      "Vars": {"translate_workflow": "./v2v_adapt_windows.wf.json"}
    },
    "2016 image translate": {
      "Path": "./2016_translate.wf.json",
      "Vars": {"translate_workflow": "./v2v_adapt_windows.wf.json"}
    },
    "Windows Server 2019 translate": {
      "Path": "./2019_translate.wf.json",
      "Vars": {"translate_workflow": "./v2v_adapt_windows_byol.wf.json"}
    },
    "Windows Translate: 7 64-bit BYOL": {
      "Path": "./windows_7_x64_byol.wf.json",
      "Vars": {"translate_workflow": "./v2v_adapt_windows_byol.wf.json"}
    },
    "Windows Translate: 7 32-bit BYOL": {
      "Path": "./windows_7_x86_byol.wf.json",
      "Vars": {"translate_workflow": "./v2v_adapt_windows_byol.wf.json"}
    },
    "Windows Translate: 8.1 64-bit BYOL": {
      "Path": "./windows_8_x64_byol.wf.json",
      "Vars": {"translate_workflow": "./v2v_adapt_windows_byol.wf.json"}
    },
    "Windows Translate: 8.1 32-bit BYOL": {
      "Path": "./windows_8_x86_byol.wf.json",
      "Vars": {"translate_workflow": "./v2v_adapt_windows_byol.wf.json"}
    },
    "Windows Translate: 10 64-bit BYOL": {
     "Path": "./windows_10_x64_byol.wf.json",
     "Vars": {"translate_workflow": "./v2v_adapt_windows_byol.wf.json"}
    },
    "Windows Translate: 10 32-bit BYOL": {
     "Path": "./windows_10_x86_byol.wf.json",
     "Vars": {"translate_workflow": "./v2v_adapt_windows_byol.wf.json"}
    }
  }
}
