#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@ --buildsystem=golang --with=golang,systemd --builddirectory=_build

override_dh_auto_configure:
	mkdir _build
	cp google-compute-engine-inventory.service _build/

override_dh_auto_build:
	cd _build && CGO_ENABLED=0 GOPATH=$(shell pwd)/_build go get -ldflags="-s -w" -v github.com/GoogleCloudPlatform/compute-image-tools/cli_tools/gce_inventory_agent/...