# Red Hat Enterprise Linux 7 RHUI setup.
%post --log=/dev/ttyS0
set -x

rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-beta
rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

# Add GPG keys for GCE repos.
curl -o /etc/pki/rpm-gpg/google-rpm-package-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg
curl -o /etc/pki/rpm-gpg/google-key.gpg https://packages.cloud.google.com/yum/doc/yum-key.gpg
rpm --import /etc/pki/rpm-gpg/google-rpm-package-key.gpg
rpm --import /etc/pki/rpm-gpg/google-key.gpg

# Install google RHUI client software.
yum -y install google-rhui-client-rhel7
if [ $? -ne 0 ]; then
  echo "BuildFailed: Failed to install RHUI package."
fi
%end
