{
  "Name": "linux-image-test",
  "TestParallelCount": 10,
  "Tests": {
    {{$images := split .images "," -}}
    {{$alias_ips := split .alias_ips "," -}}
    {{$length := len $images -}}
    {{range $index, $image := $images -}}
      {{$alias_ip := randItem $alias_ips -}}
      {{$machine_types := mkSlice "f1-micro" "g1-small" "n1-standard-4" "n1-standard-96" -}}
      {{range $machine_type := $machine_types -}}
        "test-boot-{{$machine_type}} [{{$image}}]": {
          "Path": "./boot/boot.wf.json",
          "Vars": {
              "source_image": "{{$image}}",
              "machine_type": "{{$machine_type}}",
              "min_cpu_platform": "skylake"
          }
        },
      {{end -}}
      "test-metadata-ssh [{{$image}}]": {
        "Path": "./metadata-ssh/metadata-ssh.wf.json",
        "Vars": {
          "source_image": "{{$image}}"
        },
        "ProjectLock": true
      },
      "test-oslogin-ssh [{{$image}}]": {
        "Path": "./oslogin-ssh/oslogin-ssh.wf.json",
        "Vars": {
          "source_image": "{{$image}}"
        },
        "ProjectLock": true
      },
      "test-configuration [{{$image}}]": {
        "Path": "./configuration/linux-configuration.wf.json",
        "Vars": {
          "source_image": "{{$image}}"
        }
      },
      "test-startup-scripts [{{$image}}]": {
        "Path": "./metadata-script/startup-script-linux.wf.json",
        "Vars": {
          "source_image": "{{$image}}"
        }
      },
      "test-shutdown-scripts [{{$image}}]": {
        "Path": "./metadata-script/shutdown-script-linux.wf.json",
        "Vars": {
          "source_image": "{{$image}}"
        }
      },
      "test-multi-nic [{{$image}}]": {
        "Path": "./multi-nic/multi-nic.wf.json",
        "Vars": {
          "source_image": "{{$image}}"
        },
        "CustomProjectLock": "subnetworks"
      },
      "test-network [{{$image}}]": {
        "Path": "./network/network.wf.json",
        "Vars": {
          "source_image": "{{$image}}",
          "alias_ip": "{{$alias_ip}}"
        },
        "CustomProjectLock": "alias-ip-{{$alias_ip}}"
      },
      "test-disk [{{$image}}]": {
        "Path": "./disk/disk.wf.json",
        "Vars": {
          "source_image": "{{$image}}"
        },
        "CustomProjectLock": "disks"
      }{{if lt (add $index 1) $length}},{{end}}
    {{end -}}
  }
}
