[Unit]
Description=CDS health check

[Service]
Type=oneshot
ExecStart=python3 /opt/google-rhui-infra/health_check.py \
    --node cds \
    --result_file /usr/share/nginx/html/google_rhui_health_check.txt

[Install]
WantedBy=multi-user.target
