plank:
 job_url_template: 'https://k8s-gubernator.appspot.com/build/compute-image-tools-test/{{if eq .Spec.Type "presubmit"}}pr-logs/pull/{{.Spec.Refs.Org}}_{{.Spec.Refs.Repo}}/{{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}{{else if eq .Spec.Type "batch"}}pr-logs/pull/batch{{else}}logs{{end}}/{{.Spec.Job}}/{{.Status.BuildID}}/'
 report_template: '[Full PR test history](https://k8s-gubernator.appspot.com/pr/{{.Spec.Refs.Org}}_{{.Spec.Refs.Repo}}/{{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}). [Your PR dashboard](https://k8s-gubernator.appspot.com/pr/{{with index .Spec.Refs.Pulls 0}}{{.Author}}{{end}}).'

sinker:
  resync_period: 1m
  max_prowjob_age: 48h
  max_pod_age: 30m

prowjob_namespace: default
pod_namespace: test-pods
log_level: info

triggers:
- repos:
  - GoogleCloudPlatform/compute-image-tools
  trusted_org: GoogleCloudPlatform

presubmits:
 GoogleCloudPlatform/compute-image-tools:
 - name: presubmit-unittests
   agent: kubernetes
   always_run: true
   trigger: "(?m)^/unittests$"
   rerun_command: "/unittests"
   context: prow/presubmit/unittests
   spec:
    containers:
    - image: gcr.io/compute-image-tools-test/unittests:latest
      volumeMounts:
      - name: codecov
        mountPath: /etc/codecov
        readOnly: true
      - name: compute-image-tools-test-service-account
        mountPath: /etc/compute-image-tools-test-service-account
        readOnly: true
    volumes:
    - name: codecov
      secret:
       secretName: codecov
    - name: compute-image-tools-test-service-account
      secret:
       secretName: compute-image-tools-test-service-account
 - name: presubmit-gocheck
   agent: kubernetes
   run_if_changed: ".*\\.go$"
   trigger: "(?m)^/gocheck$"
   rerun_command: "/gocheck"
   context: prow/presubmit/gocheck
   spec:
    containers:
    - image: gcr.io/compute-image-tools-test/gocheck:latest
      volumeMounts:
      - name: compute-image-tools-test-service-account
        mountPath: /etc/compute-image-tools-test-service-account
        readOnly: true
    volumes:
    - name: compute-image-tools-test-service-account
      secret:
       secretName: compute-image-tools-test-service-account
 - name: presubmit-flake8
   agent: kubernetes
   run_if_changed: ".*\\.py$"
   trigger: "(?m)^/flake8$"
   rerun_command: "/flake8"
   context: prow/presubmit/flake8
   spec:
    containers:
    - image: gcr.io/compute-image-tools-test/flake8:latest
      volumeMounts:
      - name: compute-image-tools-test-service-account
        mountPath: /etc/compute-image-tools-test-service-account
        readOnly: true
    volumes:
    - name: compute-image-tools-test-service-account
      secret:
       secretName: compute-image-tools-test-service-account
 - name: presubmit-gobuild
   agent: kubernetes
   run_if_changed: ".*\\.go$"
   trigger: "(?m)^/gobuild$"
   rerun_command: "/gobuild"
   context: prow/presubmit/gobuild
   spec:
    containers:
    - image: gcr.io/compute-image-tools-test/gobuild:latest
      volumeMounts:
      - name: compute-image-tools-test-service-account
        mountPath: /etc/compute-image-tools-test-service-account
        readOnly: true
    volumes:
    - name: compute-image-tools-test-service-account
      secret:
       secretName: compute-image-tools-test-service-account

periodics:
 - name: ci-daisy-e2e
   interval: 3h
   agent: kubernetes
   spec:
    containers:
    - image: gcr.io/compute-image-tools-test/test-runner:latest
      args:
      - "-out_path=/artifacts/junit.xml"
      # One project is enough for daisy tests, no test requires a write lock.
      - "-projects=compute-image-test-pool-001"
      - "-zone=us-central1-c"
      - "daisy_integration_tests/daisy_e2e.test.gotmpl"
      env:
      - name: REPO_OWNER
        value: GoogleCloudPlatform
      - name: REPO_NAME
        value: compute-image-tools
      volumeMounts:
      - name: compute-image-tools-test-service-account
        mountPath: /etc/compute-image-tools-test-service-account
        readOnly: true
    volumes:
    - name: compute-image-tools-test-service-account
      secret:
       secretName: compute-image-tools-test-service-account
 - name: osconfig-tests
   interval: 3h
   agent: kubernetes
   spec:
    containers:
    - image: gcr.io/compute-image-tools-test/osconfig-tests:latest
      args:
      - "-out_path=/artifacts/junit.xml"
      volumeMounts:
      - name: compute-image-tools-test-service-account
        mountPath: /etc/compute-image-tools-test-service-account
        readOnly: true
    volumes:
    - name: compute-image-tools-test-service-account
      secret:
       secretName: compute-image-tools-test-service-account
 - name: linux-image-tests
   interval: 3h
   agent: kubernetes
   spec:
    containers:
    - image: gcr.io/compute-image-tools-test/test-runner:latest
      args:
      - "-out_path=/artifacts/junit.xml"
      # compute-image-test-pool-001 is reserved for daisy e2e tests.
      - "-projects=\
          compute-image-test-pool-002,\
          compute-image-test-pool-003,\
          compute-image-test-pool-004,\
          compute-image-test-pool-005"
      - "-zone=us-central1-c"
      - "-var:images=\
          projects/debian-cloud/global/images/family/debian-9,\
          projects/centos-cloud/global/images/family/centos-6,\
          projects/centos-cloud/global/images/family/centos-7,\
          projects/rhel-cloud/global/images/family/rhel-6,\
          projects/rhel-cloud/global/images/family/rhel-7,\
          projects/freebsd-org-cloud-dev/global/images/family/freebsd-11-2-snap,\
          projects/freebsd-org-cloud-dev/global/images/family/freebsd-12-0"
      - "-var:alias_ips=\
          10.128.3.128,\
          10.128.3.132,\
          10.128.3.136,\
          10.128.3.140,\
          10.128.3.144,\
          10.128.3.148,\
          10.128.3.152,\
          10.128.3.156"
      - "image_test/linux_images.test.gotmpl"
      env:
      - name: REPO_OWNER
        value: GoogleCloudPlatform
      - name: REPO_NAME
        value: compute-image-tools
      volumeMounts:
      - name: compute-image-tools-test-service-account
        mountPath: /etc/compute-image-tools-test-service-account
        readOnly: true
    volumes:
    - name: compute-image-tools-test-service-account
      secret:
       secretName: compute-image-tools-test-service-account
 - name: windows-image-tests
   interval: 3h
   agent: kubernetes
   spec:
    containers:
    - image: gcr.io/compute-image-tools-test/test-runner:latest
      args:
      - "-out_path=/artifacts/junit.xml"
      # compute-image-test-pool-001 is reserved for daisy e2e tests.
      - "-projects=\
          compute-image-test-pool-002,\
          compute-image-test-pool-003,\
          compute-image-test-pool-004,\
          compute-image-test-pool-005"
      - "-zone=us-central1-c"
      - "-var:images=\
          projects/windows-cloud/global/images/family/windows-2008-r2,\
          projects/windows-cloud/global/images/family/windows-2012-r2,\
          projects/windows-cloud/global/images/family/windows-2012-r2-core,\
          projects/windows-cloud/global/images/family/windows-2016,\
          projects/windows-cloud/global/images/family/windows-2016-core,\
          projects/windows-cloud/global/images/family/windows-1709-core,\
          projects/windows-cloud/global/images/family/windows-1803-core"
      - "-var:alias_ips=\
          10.128.3.160,\
          10.128.3.164,\
          10.128.3.168,\
          10.128.3.172,\
          10.128.3.176,\
          10.128.3.180"
      - "image_test/windows_images.test.gotmpl"
      env:
      - name: REPO_OWNER
        value: GoogleCloudPlatform
      - name: REPO_NAME
        value: compute-image-tools
      volumeMounts:
      - name: compute-image-tools-test-service-account
        mountPath: /etc/compute-image-tools-test-service-account
        readOnly: true
    volumes:
    - name: compute-image-tools-test-service-account
      secret:
       secretName: compute-image-tools-test-service-account
