tide:
  merge_method:
    GoogleCloudPlatform/compute-image-tools: squash

  queries:
  - repos:
    - GoogleCloudPlatform/compute-image-tools
    labels:
    - lgtm
    - approved
    missingLabels:
    - do-not-merge
    - do-not-merge/hold
    - do-not-merge/work-in-progress
    - needs-ok-to-test
    - needs-rebase
    includedBranches:
    - tide-test


plank:
 job_url_template: 'https://k8s-gubernator.appspot.com/build/compute-image-tools-test/{{if eq .Spec.Type "presubmit"}}pr-logs/pull/{{.Spec.Refs.Org}}_{{.Spec.Refs.Repo}}/{{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}{{else if eq .Spec.Type "batch"}}pr-logs/pull/batch{{else}}logs{{end}}/{{.Spec.Job}}/{{.Status.BuildID}}/'
 report_template: '[Full PR test history](https://k8s-gubernator.appspot.com/pr/{{.Spec.Refs.Org}}_{{.Spec.Refs.Repo}}/{{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}). [Your PR dashboard](https://k8s-gubernator.appspot.com/pr/{{with index .Spec.Refs.Pulls 0}}{{.Author}}{{end}}).'

sinker:
  resync_period: 1m
  max_prowjob_age: 48h
  max_pod_age: 30m

prowjob_namespace: default
pod_namespace: test-pods
log_level: info

triggers:
- repos:
  - GoogleCloudPlatform/compute-image-tools
  trusted_org: GoogleCloudPlatform

periodics:
 - name: cleanerupper
   interval: 24h
   agent: kubernetes
   spec:
    containers:
    - image: gcr.io/compute-image-tools-test/cleanerupper:latest
      args:
      - "-dry_run=false"
      - "-duration=24h"
      - "-projects=compute-image-test-pool-001,compute-image-test-pool-002,compute-image-test-pool-003,compute-image-test-pool-004,compute-image-test-pool-005,compute-image-osconfig-agent,compute-image-osconfig-agent-2,compute-image-test-custom-vpc,compute-image-test-pool-001-1,compute-image-test-pool-001-2"
      volumeMounts:
      - name: compute-image-tools-test-service-account
        mountPath: /etc/compute-image-tools-test-service-account
        readOnly: true
    volumes:
    - name: compute-image-tools-test-service-account
      secret:
       secretName: compute-image-tools-test-service-account
 - name: ci-daisy-e2e
   interval: 3h
   agent: kubernetes
   spec:
    containers:
      - image: gcr.io/compute-image-tools-test/test-runner:latest
        args:
          - "-out_path=/artifacts/junit.xml"
          # One project is enough for daisy tests, no test requires a write lock.
          - "-projects=compute-image-test-pool-001"
          - "-zone=us-central1-c"
          - "daisy_integration_tests/daisy_e2e.test.gotmpl"
        env:
          - name: REPO_OWNER
            value: GoogleCloudPlatform
          - name: REPO_NAME
            value: compute-image-tools
          - name: ARTIFACTS
            value: /artifacts
        volumeMounts:
          - name: compute-image-tools-test-service-account
            mountPath: /etc/compute-image-tools-test-service-account
            readOnly: true
    volumes:
    - name: compute-image-tools-test-service-account
      secret:
       secretName: compute-image-tools-test-service-account
 - name: ci-daisy-e2e-quota-exceeded
   interval: 3h
   agent: kubernetes
   spec:
    containers:
      - image: gcr.io/compute-image-tools-test/test-runner:latest
        args:
          - "-out_path=/artifacts/junit.xml"
          # One project is enough for daisy tests, no test requires a write lock.
          - "-projects=compute-image-test-pool-006"
          - "-zone=us-central1-c"
          - "daisy_integration_tests/daisy_e2e_quota_exceeded.test.gotmpl"
        env:
          - name: REPO_OWNER
            value: GoogleCloudPlatform
          - name: REPO_NAME
            value: compute-image-tools
          - name: ARTIFACTS
            value: /artifacts
        volumeMounts:
          - name: compute-image-tools-test-service-account
            mountPath: /etc/compute-image-tools-test-service-account
            readOnly: true
    volumes:
    - name: compute-image-tools-test-service-account
      secret:
       secretName: compute-image-tools-test-service-account
 - name: ci-daisy-e2e-daily
   interval: 24h
   agent: kubernetes
   spec:
    containers:
    - image: gcr.io/compute-image-tools-test/test-runner:latest
      args:
      - "-out_path=/artifacts/junit.xml"
      # One project is enough for daisy tests, no test requires a write lock.
      - "-projects=compute-image-test-pool-001"
      - "-zone=us-central1-c"
      - "daisy_integration_tests/daisy_e2e_daily.test.gotmpl"
      env:
      - name: REPO_OWNER
        value: GoogleCloudPlatform
      - name: REPO_NAME
        value: compute-image-tools
      - name: ARTIFACTS
        value: /artifacts
      volumeMounts:
      - name: compute-image-tools-test-service-account
        mountPath: /etc/compute-image-tools-test-service-account
        readOnly: true
    volumes:
    - name: compute-image-tools-test-service-account
      secret:
       secretName: compute-image-tools-test-service-account
 - name: ci-daisy-e2e-weekly
   interval: 168h
   agent: kubernetes
   spec:
    containers:
    - image: gcr.io/compute-image-tools-test/test-runner:latest
      args:
      - "-out_path=/artifacts/junit.xml"
      # One project is enough for daisy tests, no test requires a write lock.
      - "-projects=compute-image-test-pool-001"
      - "-zone=us-central1-c"
      - "daisy_integration_tests/daisy_e2e_weekly.test.gotmpl"
      env:
      - name: REPO_OWNER
        value: GoogleCloudPlatform
      - name: REPO_NAME
        value: compute-image-tools
      - name: ARTIFACTS
        value: /artifacts
      volumeMounts:
      - name: compute-image-tools-test-service-account
        mountPath: /etc/compute-image-tools-test-service-account
        readOnly: true
    volumes:
    - name: compute-image-tools-test-service-account
      secret:
       secretName: compute-image-tools-test-service-account
 - name: ci-ovf-import-e2e-tests-daily
   interval: 12h
   agent: kubernetes
   spec:
     containers:
     - image: gcr.io/compute-image-tools-test/gce-ovf-import-tests:latest
       args:
       - "-out_dir=/artifacts"
       - "-test_project_id=compute-image-test-pool-001"
       - "-test_zone=us-central1-c"
       - "-variables=compute_service_account_without_default_service_account=pool-001-1-sa@compute-image-test-pool-001-1.iam.gserviceaccount.com,\
           compute_service_account_without_default_service_account_permission=pool-001-2-sa@compute-image-test-pool-001-2.iam.gserviceaccount.com,\
           instance_service_account_without_default_service_account=pool-001-1-sa-2@compute-image-test-pool-001-1.iam.gserviceaccount.com,\
           instance_service_account_without_default_service_account_permission=pool-001-2-sa-2@compute-image-test-pool-001-2.iam.gserviceaccount.com,\
           project_id_without_default_service_account=compute-image-test-pool-001-1,\
           project_id_without_default_service_account_permission=compute-image-test-pool-001-2"
       env:
       - name: ARTIFACTS
         value: /artifacts
       volumeMounts:
       - name: compute-image-tools-test-service-account
         mountPath: /etc/compute-image-tools-test-service-account
         readOnly: true
     volumes:
       - name: compute-image-tools-test-service-account
         secret:
           secretName: compute-image-tools-test-service-account
 - name: ci-ovf-export-e2e-tests-daily
   interval: 12h
   agent: kubernetes
   spec:
     containers:
     - image: gcr.io/compute-image-tools-test/gce-ovf-export-tests:latest
       args:
       - "-out_dir=/artifacts"
       - "-test_project_id=compute-image-test-pool-001"
       - "-test_zone=us-central1-c"
       env:
       - name: ARTIFACTS
         value: /artifacts
       volumeMounts:
       - name: compute-image-tools-test-service-account
         mountPath: /etc/compute-image-tools-test-service-account
         readOnly: true
     volumes:
     - name: compute-image-tools-test-service-account
       secret:
         secretName: compute-image-tools-test-service-account
 - name: ci-windows-upgrade-e2e-tests
   interval: 6h
   agent: kubernetes
   spec:
     containers:
     - image: gcr.io/compute-image-tools-test/gce-windows-upgrade-tests:latest
       args:
       - "-out_dir=/artifacts"
       - "-test_project_id=compute-image-test-pool-001"
       - "-test_zone=us-central1-c"
       env:
       - name: ARTIFACTS
         value: /artifacts
       volumeMounts:
       - name: compute-image-tools-test-service-account
         mountPath: /etc/compute-image-tools-test-service-account
         readOnly: true
     volumes:
     - name: compute-image-tools-test-service-account
       secret:
         secretName: compute-image-tools-test-service-account
 - name: ci-images-import-export-cli-e2e-tests
   interval: 6h
   agent: kubernetes
   spec:
     containers:
     - image: gcr.io/compute-image-tools-test/gce-image-import-export-tests:latest
       args:
       - "-out_dir=/artifacts"
       - "-test_project_id=compute-image-test-pool-001"
       - "-test_zone=us-central1-b"
       - "-variables=aws_region=us-east-2,aws_bucket=s3://onestep-test,\
           ubuntu_ami_id=ami-04d75010218164863,windows_ami_id=ami-0c91f2e838828598d,\
           ubuntu_vmdk=s3://onestep-test/ubuntu1804.vmdk,\
           windows_vmdk=s3://onestep-test/windows2019.vmdk,\
           aws_cred_file_path=gs://compute-image-tools-test-resources/onestep-test-user,\
           compute_service_account_without_default_service_account=pool-001-1-sa@compute-image-test-pool-001-1.iam.gserviceaccount.com,\
           compute_service_account_without_default_service_account_permission=pool-001-2-sa@compute-image-test-pool-001-2.iam.gserviceaccount.com,\
           project_id_without_default_service_account=compute-image-test-pool-001-1,\
           project_id_without_default_service_account_permission=compute-image-test-pool-001-2"
       env:
       - name: ARTIFACTS
         value: /artifacts
       volumeMounts:
       - name: compute-image-tools-test-service-account
         mountPath: /etc/compute-image-tools-test-service-account
         readOnly: true
     volumes:
       - name: compute-image-tools-test-service-account
         secret:
           secretName: compute-image-tools-test-service-account
 - name: ci-v2v-adapt-e2e
   interval: 12h
   agent: kubernetes
   spec:
     containers:
     - image: gcr.io/compute-image-tools-test/test-runner:latest
       args:
       - "-out_path=/artifacts/junit.xml"
       # One project is enough for v2v tests, no test requires a write lock.
       - "-projects=compute-image-test-pool-001"
       - "-zone=us-central1-c"
       - "daisy_integration_tests/v2v_adapt_e2e.test.gotmpl"
       env:
       - name: REPO_OWNER
         value: GoogleCloudPlatform
       - name: REPO_NAME
         value: compute-image-tools
       - name: ARTIFACTS
         value: /artifacts
       volumeMounts:
       - name: compute-image-tools-test-service-account
         mountPath: /etc/compute-image-tools-test-service-account
         readOnly: true
     volumes:
     - name: compute-image-tools-test-service-account
       secret:
         secretName: compute-image-tools-test-service-account
 - name: osconfig-head-images
   interval: 5h
   agent: kubernetes
   spec:
    activeDeadlineSeconds: 7200
    containers:
    - image: gcr.io/compute-image-tools-test/osconfig-tests:latest
      args:
      - "-test_case_filter=debian|centos|rhel|windows|cos|ubuntu"
      - "-out_dir=/artifacts"
      - "-test_project_ids=compute-image-osconfig-agent,compute-image-osconfig-agent-2"
      - -test_zones={
                      "us-central1-a":5,
                      "us-central1-b":5,
                      "us-central1-c":5,
                      "us-central1-f":5,
                      "us-west1-a":5,
                      "us-west1-b":5,
                      "us-west1-c":5,
                      "us-east1-b":5,
                      "us-east1-c":5,
                      "us-east1-d":5,
                      "us-east4-a":5,
                      "us-east4-b":5,
                      "us-east4-c":5,
                      "europe-west4-a":5,
                      "europe-west4-b":5,
                      "europe-west4-c":5,
                      "europe-west1-d":5,
                      "europe-west1-b":5,
                      "europe-west1-c":5,
                      "asia-east1-a":5,
                      "asia-east1-b":5,
                      "asia-east1-c":5
                    }
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /etc/compute-image-tools-test-service-account/creds.json
      - name: ARTIFACTS
        value: /artifacts
      volumeMounts:
      - name: compute-image-tools-test-service-account
        mountPath: /etc/compute-image-tools-test-service-account
        readOnly: true
    volumes:
    - name: compute-image-tools-test-service-account
      secret:
       secretName: compute-image-tools-test-service-account
 - name: osconfig-unstable
   interval: 1h
   agent: kubernetes
   spec:
    activeDeadlineSeconds: 7200
    containers:
    - image: gcr.io/compute-image-tools-test/osconfig-tests:latest
      args:
      - "-out_dir=/artifacts"
      - "-agent_repo=unstable"
      - "-test_project_ids=compute-image-osconfig-agent,compute-image-osconfig-agent-2"
      - "-agent_endpoint={zone}-staging-osconfig.sandbox.googleapis.com:443"
      - "-endpoint=staging-osconfig.sandbox.googleapis.com:443"
      - -test_zones={
                      "us-central1-a":15,
                      "us-central1-b":15,
                      "us-central1-c":15,
                      "us-central1-f":15,
                      "us-west1-a":15,
                      "us-west1-b":15,
                      "us-west1-c":15,
                      "us-east1-b":15,
                      "us-east1-c":15,
                      "us-east1-d":15,
                      "asia-northeast1-a":15,
                      "asia-northeast1-b":15,
                      "asia-northeast1-c":15,
                      "europe-north1-a":15,
                      "europe-north1-b":15,
                      "europe-north1-c":15,
                      "europe-west1-d":15,
                      "europe-west1-b":15,
                      "europe-west1-c":15,
                      "asia-east1-a":15,
                      "asia-east1-b":15,
                      "asia-east1-c":15
                    }
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /etc/compute-image-tools-test-service-account/creds.json
      - name: ARTIFACTS
        value: /artifacts
      volumeMounts:
      - name: compute-image-tools-test-service-account
        mountPath: /etc/compute-image-tools-test-service-account
        readOnly: true
    volumes:
    - name: compute-image-tools-test-service-account
      secret:
       secretName: compute-image-tools-test-service-account
 - name: osconfig-staging
   interval: 3h
   agent: kubernetes
   spec:
    activeDeadlineSeconds: 10000
    containers:
    - image: gcr.io/compute-image-tools-test/osconfig-tests:latest
      args:
      - "-out_dir=/artifacts"
      - "-agent_repo=staging"
      - "-test_project_ids=compute-image-osconfig-agent,compute-image-osconfig-agent-2"
      - -test_zones={
                      "us-central1-a":10,
                      "us-central1-b":10,
                      "us-central1-c":10,
                      "us-central1-f":10,
                      "us-west1-a":10,
                      "us-west1-b":10,
                      "us-west1-c":10,
                      "us-east1-b":10,
                      "us-east1-c":10,
                      "us-east1-d":10,
                      "us-east4-a":10,
                      "us-east4-b":10,
                      "us-east4-c":10,
                      "europe-west4-a":10,
                      "europe-west4-b":10,
                      "europe-west4-c":10,
                      "europe-west1-d":10,
                      "europe-west1-b":10,
                      "europe-west1-c":10,
                      "asia-east1-a":10,
                      "asia-east1-b":10,
                      "asia-east1-c":10
                    }
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /etc/compute-image-tools-test-service-account/creds.json
      - name: ARTIFACTS
        value: /artifacts
      volumeMounts:
      - name: compute-image-tools-test-service-account
        mountPath: /etc/compute-image-tools-test-service-account
        readOnly: true
    volumes:
    - name: compute-image-tools-test-service-account
      secret:
       secretName: compute-image-tools-test-service-account
 - name: osconfig-stable
   interval: 5h
   agent: kubernetes
   spec:
    activeDeadlineSeconds: 14400
    containers:
    - image: gcr.io/compute-image-tools-test/osconfig-tests:latest
      args:
      - "-out_dir=/artifacts"
      - "-agent_repo=stable"
      - "-test_project_ids=compute-image-osconfig-agent,compute-image-osconfig-agent-2"
      - -test_zones={
                      "us-central1-a":5,
                      "us-central1-b":5,
                      "us-central1-c":5,
                      "us-central1-f":5,
                      "us-west1-a":5,
                      "us-west1-b":5,
                      "us-west1-c":5,
                      "us-east1-b":5,
                      "us-east1-c":5,
                      "us-east1-d":5,
                      "us-east4-a":5,
                      "us-east4-b":5,
                      "us-east4-c":5,
                      "europe-west4-a":5,
                      "europe-west4-b":5,
                      "europe-west4-c":5,
                      "europe-west1-d":5,
                      "europe-west1-b":5,
                      "europe-west1-c":5,
                      "asia-east1-a":5,
                      "asia-east1-b":5,
                      "asia-east1-c":5
                    }
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /etc/compute-image-tools-test-service-account/creds.json
      - name: ARTIFACTS
        value: /artifacts
      volumeMounts:
      - name: compute-image-tools-test-service-account
        mountPath: /etc/compute-image-tools-test-service-account
        readOnly: true
    volumes:
    - name: compute-image-tools-test-service-account
      secret:
       secretName: compute-image-tools-test-service-account
