#!/usr/bin/make -f

export PATH := /tmp/go/bin:$(PATH)
export SHELL := env PATH=$(PATH) /bin/bash

export DH_OPTIONS
export DH_GOPKG := github.com/GoogleCloudPlatform/compute-image-tools/cli_tools/google-osconfig-agent
export CGO_ENABLED := 0

%:
	dh $@  --buildsystem=golang --with=golang,systemd

override_dh_auto_install:
	# Binary-only package.
	dh_auto_install -- --no-source
	mv debian/google-osconfig-agent/usr/bin/google-osconfig-agent debian/google-osconfig-agent/usr/bin/google_osconfig_agent

override_dh_golang:
	# We don't use any packaged dependencies, so skip dh_golang step.

override_dh_auto_build:
	dh_auto_build -O--buildsystem=golang -- -ldflags "-s -w -X main.version=$(VERSION)" -tags public

override_dh_installinit:
	dh_installinit --noscripts
