[Unit]
Description=Timer for RHUA health check
Requires=rhui-health-check.service

[Timer]
Unit=rhui-health-check.service
OnUnitActiveSec=1m

[Install]
WantedBy=timers.target
